{% extends 'sweather.html' %}
{% block title %}Page Not Found{% endblock %}
{% block head %}
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  	<!-- bootstrap -->
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  	<!-- CSS file -->
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/sweather.css') }}">

  	<!-- icons -->
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/weather-icons.min.css') }}">

  	<!-- fonts -->
  	<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Signika:wght@300&display=swap" rel="stylesheet"> 

  	<!-- randomColor.js -->
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.min.js" integrity="sha512-vPeZ7JCboHcfpqSx5ZD+/jpEhS4JpXxfz9orSvAPPj0EKUVShU2tgy7XkU+oujBJKnWmu4hU7r9MMQNWPfXsYw==" crossorigin="anonymous"></script>
 	<!-- ajax -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  	<!-- JS file -->
  	<script type="text/javascript" src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}
{% block content %}
<div id="error">
	<h1>Oops! There's nothing here. Try your search again.</h1>
	<a href="{{ url_for('sweather') }}">Back to home</a>
</div>
{% endblock %}